<div class="login-wrapper flex-col">
    <div *ngIf="verifying()" class="text-blue-500 p-5">
    Verifying your email...please wait...
    </div>
    <div *ngIf="emailVerify" class="text-red-500  text-center">
        Check {{emailVerify}} for verification link.
        <br>
        This link is valid for 30 minutes.
    </div>
    <div *ngIf="verifiedEmail" class="text-blue-500 text-center">
        {{verifiedEmail}} verified successfully.
    </div>
    <div *ngIf="emailVerifyExpiredToken" class="text-red-500 text-center">
        Verification link has expired. Login with your current Email :  {{emailVerifyExpiredToken}} 
    </div>
    <div class="login-card">
        <h3 class="title">Sign In</h3>
        <form [formGroup]="form" (ngSubmit)="onSubmit()" class="login-form">
            <!-- Email -->
            <div class="form-control">
                <label for="email">Email</label>
                <input type="email" 
                    id="email"
                    formControlName="email"
                    placeholder="Enter your email."
                />
                <p class="error" *ngIf="form.get('email')?.invalid && 
                    form.get('email')?.touched">

                    {{form.get('email')?.errors?.['required'] ? 
                    'Email is required.' : ''}}

                    {{form.get('email')?.errors?.['email'] ? 
                    'Invalid email format.' : ''}}

                </p>
            </div>

            <!-- Password -->
            <div class="form-control">
                <label for="password">Password</label>
                <input type="password" 
                    id="password"
                    formControlName="password"
                    placeholder="Enter your password."
                />
                <p class="error" *ngIf="form.get('password')?.invalid && 
                    form.get('password')?.touched">

                    {{form.get('password')?.errors?.['required'] ? 
                    'Password is required.' : ''}}

                </p>
            </div>

            <!-- Submit Button -->
            <div style="margin-top: 20px;">
                <button type="submit"
                    id="submit"
                    class="btn"
                    [disabled]="form.invalid || isSubmitting()"
                >
                    {{ (isSubmitting()) ? 'Signing in..' : 'Login'}}
                </button>
            </div>

            <!-- Error Message -->
            <p class="error-message" *ngIf="errorMessage()">{{ errorMessage() }}</p>
        </form>
        <div class="text-left mt-6">
            <a routerLink="/forget-password" class="text-blue-500">
                Forget Password
            </a>
        </div>
    </div>
</div>