<div class="p-8 bg-background min-h-screen flex justify-center">
    <div class="w-full max-w-xl bg-white rounded-2xl shadow-md p-6">
        <h2 class="text-2xl mb-4 font-bold">Reset Password</h2>

        <div *ngIf="showForm">
            <hr class="my-4" />
            
            <form [formGroup]="form" (ngSubmit)="onResetPassword()">
                    
                    <div>
                        <label class="block text-sm font-medium mb-1 mt-4">New password</label>
                        <input 
                        type="password" 
                        formControlName="newPassword"
                        class="w-full border rounded-lg px-3 py-2"
                        />
                        <p 
                            class="text-red-500 text-xs mt-1"
                            *ngIf="form.get('newPassword')?.invalid && 
                            form.get('newPassword')?.touched
                        ">
                        New password must be at least 6 characters.
                        </p>
                    </div>
                    <div>
                        <label class="block text-sm font-medium mb-1 mt-4">Confirm new password</label>
                        <input 
                        type="password" 
                        formControlName="confirmPassword"
                        class="w-full border rounded-lg px-3 py-2"
                        />
                        <p 
                            class="text-red-500 text-xs mt-1"
                            *ngIf="form.get('confirmPassword')?.invalid && 
                            form.get('confirmPassword')?.touched
                        ">
                        Passwords do not match.
                        </p>
                    </div>
                    <button 
                        type="submit"
                        class="mt-4 w-full bg-blue-600 text-white py-2 rounded-lg hover:bg-blue-700 disabled:opacity-50"
                        [disabled]="resetingPassword() || form.invalid"
                    >
                        {{ resetingPassword() ? "Reseting..." : "Reset Password" }}
                    </button>
            </form>
        </div>
        
    </div>
</div>